<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="fypdbConnectionString" connectionString="server=127.0.0.1;user id=root;password=630716;persistsecurityinfo=True;database=fypdb" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
  <system.web>
     <sessionState mode="InProc" cookieless="false"></sessionState>
      <customErrors mode="RemoteOnly"/> 
      <compilation debug="true" targetFramework="4.5">   	
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
        <!-- ADD the next assemply to <system.data><DbProviderFactories></system.data></DbProviderFactories> in the following file:
          C:\Windows\Microsoft.NET\Framework\v4.0.30319\machin.config -->
        
        <add assembly="MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>